/* GLOBAL-STYLES  */
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: "Rubik", "Roboto", "Arial", sans-serif;
  color: #4A4B4C;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}

/* EXTRA-STYLES  */
*:focus {
  outline: dotted #011341 2px;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER  */
.container {
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}


/* SITE-HEADER  */
.wrapper {
  display: flex;
  align-items: center;
}

.header-top {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 30px;
}


.header-container {
  display: flex;
  justify-content: space-between;
}

/* LOGO-LINK  */
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}

.logo-link {
  display: flex;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 9px;
  padding-bottom: 8px;
  margin: 0;
  margin-right: 35px;
  border-radius: 7px;
  background-color: #fff;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

/* MONEY  */
.money {
  display: flex;
}

.dollar {
  color: #555555;
  font-size: 16px;
  line-height: 18px;
}

.dollar-two {
  margin: 0;
  margin-left: 25px;
}

.dollar-icon {
  color: #2959CE;
  font-weight: bold;
  margin-right: 4px;
}

/* SEARCHBAR  */
.action-searchbar {
  display: flex;
  align-items: center;
}

.searchbar {
  margin: 0;
  padding: 0;
  margin-right: 25px;
}

.searchbar-input {
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 41px;
  border: none;
  border-radius: 60px;
}

/* LANGUAGE-SELECT  */
.lang-select {
  display: flex;
  align-items: center;
  background-color: #DCE6FF;
  border-radius: 39px;
  padding: 3px;
  margin-right: 45px;
}

.lang {
  width: 30px;
  height: 30px;
  font-size: 13px;
  line-height: 30px;
  border-radius: 50%;
  background-color: #fff;
  text-decoration: none;
  color: #000;
  text-align: center;
}

.ru {
  background-color: #DCE6FF;
  color: #A6A6A6;
}

/* .ru {
  text-decoration: none;
  color: #A6A6A6;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 13px;
  line-height: 30px;
  text-align: center;
} */

/* BUTTON-SIGNUP  */
.button {
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  text-decoration: none;
  background-color: #7296EC;
  color: #fff;
  border-radius: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 20px;
  padding-left: 20px;
  transition: background-color 0.4s ease;
  border: 2px solid transparent;
  cursor: pointer;
}

.button-signup:hover {
  border: 2px solid #7296EC;
  background-color: #fff;
  color: #7296EC
}

.button-signup:active {
  background-color: #7296EC;
  color: #fff;
  opacity: 0.6;
}


/* SITE-HEADER -LINKS  */
.site-header-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
}

.site-header-item:not(:last-child) {
  margin-right: 34px;
}

.site-header-items {
  color:#7F7F7F;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.33px;
  transition: all 0.4s ease;
}

.site-header-items:hover {
  color:  #7296EC;
}

.site-header-items:active {
  opacity: 0.6;
}

.site-nav {
  border-bottom: 1px solid #D1D1D1;
  margin-bottom: 40px;
}

.aside {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.aside-link {
  display: flex;
  transition: opacity 0.4s ease;
}

.aside-link:hover {
  opacity: 0.8;
}

.aside-link:active {
  opacity: 0.6;
}

.aside-img {
  width: 1200px;
  height: 128px;
  border-radius: 8px;
  object-fit: cover;
}


/* MAIN-CONTENT  */
/* HERO-ONE  */
.hero-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.hero-one-card {
  width: 393px;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 17px;
  padding-left: 17px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.hero-one-card:nth-child(3) {
  margin-right: -10px;
}

.hero-one-card:nth-child(6) {
  margin-right: -10px;
}

.hero-one-card-heading {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
  width: 350px;
}

.hero-one-card-heading-link {
  display: inline-block;
  text-decoration: none;
  color: #000;
  transition: all 0.4s ease;
}

.hero-one-card-heading-link:hover {
  color:  #7296EC;
}

.hero-one-card-heading-link:active {
  opacity: 0.6;
}

.hero-one-paragraph {
  color: #4A4B4C;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.hero-one-cards-img {
  width: 359px;
  height: 165px;
  border-radius: 10px;
  margin: 0;
  margin-top: auto;
  margin-bottom: 15px;
  object-fit: cover;
}

.icon-time {
  display: flex;
  align-items: center;
}

.hero-one-cards-icon {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin: 0;
  margin-right: 10px;
  object-fit: cover;
}

.content-site {
  color: #5E5F61;
  font-size: 13px;
  line-height: normal;
  font-weight: 400;
}

time {
  color: #5E5F61;
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
}


/* NOTIFICATION  */
.notification {
  width: 100%;
  max-width: 1090px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
  background-image: url(../img/background-img.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  background-color: #ffcda8;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-openner {
  display: block;
}

.modal-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 850px;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  border-radius: 20px;
  transform: translateY(85%);
}

.modal-content {
  text-align: center;
  color: #000;
  font-size: 26px;
  line-height: 34px;
  font-weight: 500;
  margin-bottom: 25px;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.notification-heading {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  margin-left: 29px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.button-turn-on-off {
  background-color: #F78B3B;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: 71px;
  transition: opacity 0.4s ease;
  font-size: 20px;
}

.modal-button-inner {
  margin-right: 0;
  font-size: 24px;
  padding: 15px 40px;
}

.button-turn-on-off:hover {
  opacity: 0.8;
}

.button-turn-on-off:active {
  opacity: 0.6;
}


/* HERO-TWO-CARDS  */
.hero-two-heading {
  color: #000;
  font-size: 24px;
  line-height: normal;
  font-weight: 500;
  margin-top: 0;
}

.hero-two-container {
  display: flex;
  padding: 0;
}

.hero-two-cards-left {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.hero-two-cards {
  display: flex;
  align-items: center;
  width: 797px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 17px;
  padding-right: 20px;
  background-color: #F6F6F6;
  border-radius: 15px;
}

.hero-two-cards:not(:last-child) {
  margin-bottom: 10px;
}

.hero-two-cards:last-child {
  margin-bottom: 7px;
}

.hero-two-card-heading {
  margin: 0;
}

.hero-two-card-heading-link {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  transition: all 0.4s ease;
}

.hero-two-card-heading-link:hover {
  color: #7296EC;
}

.hero-two-card-heading-link:active {
  opacity: 0.6;
}

.hero-two-paragraph {
  color: #4A4B4C;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
}

.hero-two-img {
  width: 210px;
  height: auto;
  border-radius: 10px;
  margin: 0;
  margin-right: 15px;
  object-fit: cover;
}

.hero-two-site-content {
  display: flex;
  padding: 0;
  margin: 0;
}

/* BUTTON-LOOK-MORE */
.button-look-more {
  margin-bottom: 100px;
  width: 796px;
  text-align: center;
  color: #000;
  background-color: #EAEAEA;
  transition: all 0.4s ease;
}

.button-look-more:hover {
  opacity: 0.8;
}

.button-look-more:active {
  opacity: 0.6;
}


/* HERO-TWO-CARDS-LEFT  */
.hero-two-cards-right {
  padding: 20px 20px 25px 17px;
  margin-bottom: 10px;
  background-color: rgba(246, 246, 246, 1);
  border-radius: 15px;
  width: 393px;
}

.hero-two-right-heading {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  margin-bottom: 5px;
}

.right-list {
  margin: 0;
  padding: 0;
  list-style: none;
  /* border: 1px solid red; */
}

.right-list-item:not(:last-child) {
  border-bottom: 1px solid rgba(210, 210, 210, 1);
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

.right-list-heading {
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
}

.last-heading-its {
  padding-top: 20px;
}

.right-list-item-link {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  transition: all 0.4s ease;
}

.right-list-item-link:hover {
  color: #7296EC;
}

.right-list-item-link:active {
  opacity: 0.6;
}

/* ASIDE  */
.aside-img-two {
  width: 393px;
  height: 338px;
  border-radius: 15px;
  object-fit: cover;
}

.full-aside-img-two {
  width: 393px;
  height: 553px;
  border-radius: 15px;
  object-fit: cover;
}

.aside-link-two {
  display: flex;
  transition: all 0.4s ease;
}

.aside-link-two:hover {
  opacity: 0.8;
}

.aside-link-two:active {
  opacity: 0.6;
}



/* SITE-FOOTER  */
.site-footer {
  background-color: #7297EF;
}

.site-footer-wrapper {
  padding: 0;
  margin: 0;
  padding-left: 101px;
  padding-right: 101px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* SITE-LOGO  */
.logo-link-two {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.site-logo-styles {
  display: flex;
  color: #fff;
  transition: opacity 0.5s ease;
}

.site-logo-styles:hover {
  opacity: 0.8;
}

.site-logo-styles:active {
  opacity: 0.6;
}

/* .logo-site-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.logo-site-heading-link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: normal;
  transition: opacity 0.4s ease;
}

.logo-site-heading-link:hover {
  opacity: 0.8;
}

.logo-site-heading-link:active {
  opacity: 0.6;
}  */

/* SITE-FOOTER-TOP  */
.site-footer-top {
  padding: 0;
  margin: 0;
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(206, 206, 206, 1);
}

.site-footer-information {
  padding: 0;
  margin: 0;
  width: 229px;
  color: #fff;
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
}

.site-footer-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.first-list {
  margin-left: 203px;
  margin-right: 100px;
}

.footer-links {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
}

.footer-links:hover {
  text-decoration: underline;
}

.footer-links:active {
  opacity: 0.6;
  transition: opacity 0.4s ease;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 20px;
}

/* SITE-FOOTER-BOTTOM  */
.site-footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-heading {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
}

/* SOCIAL-MEDIA-LINKS  */
.site-social-media-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.social-media-items:not(:last-child) {
  margin-right: 25px;
}

.social-media-links {
  display: flex;
}

.social-media-logo {
  opacity: 0.6;
  transition: all 0.4s ease;
}

.social-media-logo:hover {
  opacity: 1;
}

.social-media-logo:active {
  opacity: 0.8;
}





/* CONTACT-PAGE  */
.contact {
  display: flex;
  align-items: flex-start;
}

.contact-action {
  display: flex;
  flex-direction: column;
  width: 696px;
  margin-right: 10px;
  margin-bottom: 100px;
}

.telephone-number {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.number-input {
  width: 343px;
  padding: 0;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 1);
  font-family: "Rubik", "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.number-input:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  outline: none;
}

.email-input {
  width: 696px;
  margin-bottom: 10px;
}

.text-input {
  min-height: 185px;
  min-width: 696px;
  padding: 20px;
  margin-bottom: 20px;
  resize: vertical;
}

.submit-flex {
  display: flex;
  justify-content: right;
}


/* CONTACT-LIST  */
.contact-list {
  width: 494px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 40px 25px;
  background-color: #F6F6F6;
  border-radius: 10px;
}

.contact-list-item {
  padding: 0;
  margin: 0;
}

.info-border {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #D2D2D2 ;
  border-bottom: 1px solid #D2D2D2 ;
}

.contact-list-item-heading {
  margin: 0;
  margin-bottom: 7px;
  font-family: "Rubik", "Roboto", "Arial", sans-serif;
  font-size: 20px;
  line-height: normal;
  font-weight: 500;
  color: #000;
}

.info-margin {
  padding-bottom: 20px;
}

.contact-three-heading {
  margin-top: 20px;
}

.contact-list-item-link {
  text-decoration: none;
  font-family: "Rubik", "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: normal;
  color: #000;
}

.contact-list-item-link:active {
  outline: none;
}

.contact-list-item-link:focus {
  outline: none;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .notification {
    background-image: url(../img/background-img@2x.jpg);
  }
}