/* CUSTOM-PROPS  */
:root {
  --light-gray: #f6f6f6;
  --gray: #4a4b4c;
  --white: #fff;
  --blue: #7296ec;
  --black: #000;
}


/* FONT-FACE  */
@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Medium.woff2") format("woff2"),
  url("/fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Regular.woff2") format("woff2"),
  url("/fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Bold.woff2") format("woff2"),
  url("/fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.lds-facebook-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  transition: transform 0.6s ease;
}

.lds-facebook-wrapper--none {
  overflow: hidden;
  transform: translateY(-100%);
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background-color: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}


/* GLOBAL-STYLES  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--white);
  color: var(--gray);
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 137.5%;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}


/* LOGO  */
.logo {
  display: flex;
  flex-shrink: 0;
  padding: 6px 8px;
  background-color: var(--white);
  border-radius: 7px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.site-header__logo {
  margin-right: 35px;
}

.logo__img {
  display: block;
  width: 264px;
  height: 28px;
  object-fit: contain;
}


/* FOCUS-STYLES  */
*:focus {
  outline: 2px dashed var(--blue);
  outline-offset: 2px;
}

/* AUTOFILL  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit;
  box-shadow: 0 0 0px 1000px var(--white) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* CONTAINER  */
.container {
  max-width: 1240px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  padding: 13px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  line-height: auto;
  font-weight: 500;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 10px;
  white-space: nowrap;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.button--blue {
  margin-left: 25px;
}

.button--green {
  border: none;
  padding: 13px 30px;
  margin-right: 41px;
  font-size: 20px;
  background-color: #f78b3b;
  cursor: pointer;
}

.button--block {
  padding: 17px;
  background-color: #eaeaea;
  color: var(--black);
  width: 100%;
  max-width: 796px;
}


/* DATE-INFO */
.info {
  display: flex;
  align-items: center;
}

.info__icon {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;
}

.info__date {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  line-height: normal;
  color: #5e5f61;
}

.info__date:hover {
  opacity: 0.8;
}

.info__date:active {
  opacity: 0.6;
}


/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}


/* SITE-HEADER  */
.site-header__inner {
  margin-bottom: 10px;
}

.top {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--light-gray);
}

.top__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.currency-rates {
  display: flex;
  align-items: center;
}

.currency-rates__rate {
  line-height: auto;
}

.currency-rates__rate > b {
  color: var(--blue);
}

.currency-rates__rate:not(:last-child) {
  margin-right: 25px;
}

.section-form {
  margin-left: auto;
}

.form__input-wrapper {
  position: relative;
}

.form__input-img {
  display: block;
  width: 20px;
  height: 20px;
  object-fit: contain;
  position: absolute;
  top: calc(50% - 10px);
  left: 15px;
}

.form__input {
  border: none;
  padding: 15px 15px 13px 41px;
  border-radius: 60px;
  max-width: 275px;
  width: 100%;
}

.toggler {
  display: flex;
  align-items: center;
  padding: 3px;
  background-color: #dce6ff;
  border-radius: 39px;
}

.site-header__toggler {
  margin-left: 25px;
}

.toggler__language {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: normal;
  background-color: var(--white);
  color: var(--black);
  border-radius: 50%;
}

.toggler__language--ru {
  background-color: transparent;
  color: #a6a6a6;
}

.site-header__bottom {
  padding-top: 10px;
}

/* SITENAV  */
.sitenav__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 19px;
  border-bottom: 1px solid #d1d1d1;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 34px;
}

.sitenav__link {
  display: block;
  text-decoration: none;
  color: #7f7f7f;
  font-size: 18px;
  line-height: normal;
  font-weight: 500;
}

.site-header__ads {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* ASIDE  */
.ads__link {
  display: flex;
}

.ads__link:hover {
  opacity: 0.8;
}

.ads__link:active {
  opacity: 0.6;
}

.ads__img {
  display: block;
  width: 100%;
  height: 128px;
  object-fit: contain;
}


/* SECTION-GRID  */
.section-grid {
  padding-top: 10px;
  padding-bottom: 30px;
}

.section-grid__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-bottom: -10px;
}

.section-grid__card {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 393px;
  border-radius: 15px;
  background-color: var(--light-gray);
  padding: 20px 17px;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 10px;
}

.card__link {
  display: inline-block;
  color: var(--black);
  text-decoration: none;
}

.card__link:hover {
  color: var(--blue);
}

.card__link:active {
  opacity: 0.6;
}

.card__text {
  margin-top: 0;
  margin-bottom: 15px;
  color: var(--gray);
}

.card__img {
  display: block;
  width: 100%;
  height: 165px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}


/* CTA  */
.cta {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.cta__inner {
  display: flex;
  align-items: center;
  padding: 24px 30px;
  width: 100%;
  max-width: 1050px;
  background-color: #d78445;
  background-image: url(../img/index-page/background-img.jpg);
  background-position: center center;
  background-size: cover;
  border-radius: 15px;
}

.cta__title {
  margin: 0;
  margin-right: auto;
  color: var(--black);
  font-weight: 500;
  font-style: 20px;
  line-height: 26px;
}


/* SECTION-LIST */
.section-list {
  padding-top: 30px;
  padding-bottom: 100px;
}

.section-list__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--black);
  font-size: 24px;
  line-height: normal;
  font-weight: 500;
}

.news-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-list__news-list {
  margin-bottom: 17px;
}

.news-list__item {
  width: 100%;
  max-width: 797px;
}

.news-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.item {
  background-color: var(--light-gray);
  padding: 20px 17px;
  border-radius: 15px;
}

.item__inner {
  display: flex;
  align-items: center;
}

.item__img {
  display: block;
  width: 210px;
  height: 165px;
  object-fit: cover;
  border-radius: 10px;
}

.item__content {
  margin-left: 15px;
}

.item__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}

.item__link {
  display: inline-block;
  color: var(--black);
  text-decoration: none;
}

.item__link:hover {
  color: var(--blue);
}

.item__link:active {
  opacity: 0.6;
}

.item__text {
  margin-top: 0;
  margin-bottom: 17px;
  color: var(--gray);
}
